# OutputDxf 配置文件
# 鹏程工作室 出品
# 程序同目录下, 启动自动加载

[paths]
# DXF 输出目录
output_path = d:/output

[layers]
# 默认选中的图层名, 分号分隔, 大小写不敏感
# * 表示全选
# 示例: dxf = outline;gtl;drill
dxf = outline

[steps]
# 默认选中 Step, 分号分隔, 从上到下第一个匹配到的优先
# 示例: step = set;pnl
step = set;pnl
