# OutputDxf 配置文件
# 鹏程工作室 出品
# 程序同目录下, 启动自动加载

[paths]
# DXF 输出目录
output_path = d:/output
genesis_ver = 108
genesis_dir = C:/genesis
xmanager_dir = C:/genesis/Xmanager139

[layers]
# 默认选中图层, 分号分隔, 大小写不敏感
# * = 显示+全选所有图层
# 指定名称如 outline;gtl;drill = 只显示匹配的图层并默认勾选
dxf = outline;gko;gts;gbs

[steps]
# 默认选中 Step, 分号分隔, 从上到下第一个匹配到的优先
# 示例: step = set;pnl
step = set;panel
